<a href="https://colab.research.google.com/github/vjaswanthvarma/numpy/blob/main/logistic_Regression_with_multiple_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix

In [8]:
data=pd.read_csv("penguins.csv")
data.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [9]:
data.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [10]:
data['bill_depth_mm'].fillna(data['bill_depth_mm'].mean(),inplace=True)

In [11]:
data['bill_length_mm'].fillna(data['bill_length_mm'].mean(),inplace=True)

In [12]:
data['flipper_length_mm'].fillna(data['flipper_length_mm'].mean(),inplace=True)

In [13]:
data['body_mass_g'].fillna(data['body_mass_g'].mean(),inplace=True)

In [14]:
data['sex'].fillna(data['sex'].mode()[0],inplace=True)

In [15]:
data.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [16]:
data.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [21]:
from sklearn import preprocessing 
lat=preprocessing.LabelEncoder()
data['sex']=lat.fit_transform(data['sex'])

In [19]:
data['species'].value_counts()

Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

In [ ]:
from sklearn import preprocessing
len=preprocessing.LabelEncoder()
data['species']=len.fit_transform(data['species'])
data['species'].value_counts()

In [26]:
data['island'].value_counts()

0    168
1    124
2     52
Name: island, dtype: int64

In [30]:
from sklearn import preprocessing
len=preprocessing.LabelEncoder()
data['island']=len.fit_transform(data['island'])
data['island'].value_counts()

0    168
1    124
2     52
Name: island, dtype: int64

In [27]:
data['species'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 344 entries, 0 to 343
Series name: species
Non-Null Count  Dtype
--------------  -----
344 non-null    int64
dtypes: int64(1)
memory usage: 2.8 KB

In [31]:
x=data.drop('species',axis=1).values
y=data['species'].values
x.shape,y.shape

((344, 8), (344,))

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=33)

In [ ]:
data.head()

In [34]:
from sklearn.linear_model import LogisticRegression
lreg=LogisticRegression(C=1.0)
lreg.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
lreg.predict_proba(x_test)

In [ ]:
y_pred=lreg.predict(x_test)
y_pred

In [38]:
lreg.score(x_test,y_test)

1.0

In [ ]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))

In [39]:
from sklearn.metrics import confusion_matrix,classification_report
confusion_matrix(y_test,y_pred)

array([[42,  0,  0],
       [ 0, 24,  0],
       [ 0,  0, 38]])

In [40]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        42
           1       1.00      1.00      1.00        24
           2       1.00      1.00      1.00        38

    accuracy                           1.00       104
   macro avg       1.00      1.00      1.00       104
weighted avg       1.00      1.00      1.00       104