<a href="https://colab.research.google.com/github/vjaswanthvarma/numpy/blob/main/logistic_Regression_with_multiple_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix

In [81]:
data=pd.read_csv("penguins.csv")
data.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [82]:
data.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [83]:
data['bill_depth_mm'].fillna(data['bill_depth_mm'].mean(),inplace=True)

In [84]:
data['bill_length_mm'].fillna(data['bill_length_mm'].mean(),inplace=True)

In [85]:
data['flipper_length_mm'].fillna(data['flipper_length_mm'].mean(),inplace=True)

In [86]:
data['body_mass_g'].fillna(data['body_mass_g'].mean(),inplace=True)

In [87]:
data['sex'].fillna(data['sex'].mode()[0],inplace=True)

In [88]:
data.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [89]:
data.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [91]:
data['sex'].replace({'male':1},inplace=True)
data['sex'].replace({'female':0},inplace=True)

In [92]:
data['species'].value_counts()

Adelie       152
Gentoo       124
Chinstrap     68
Name: species, dtype: int64

In [93]:
data['species'].replace({'Adelie':1,'Gentoo':2,'Chinstrap':3},inplace=True)

In [94]:
data['island'].value_counts()

Biscoe       168
Dream        124
Torgersen     52
Name: island, dtype: int64

In [95]:
data['island'].replace({'Biscoe':1},inplace=True)
data['island'].replace({'Dream':2},inplace=True)
data['island'].replace({'Torgersen':3},inplace=True)

In [96]:
data['species'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 344 entries, 0 to 343
Series name: species
Non-Null Count  Dtype
--------------  -----
344 non-null    int64
dtypes: int64(1)
memory usage: 2.8 KB

In [97]:
x=data.drop('species',axis=1).values
y=data['species'].values
x.shape,y.shape

((344, 8), (344,))

In [98]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=33)

In [99]:
data.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,1,3,39.10000,18.70000,181.000000,3750.000000,1,2007
1,2,1,3,39.50000,17.40000,186.000000,3800.000000,0,2007
2,3,1,3,40.30000,18.00000,195.000000,3250.000000,0,2007
3,4,1,3,43.92193,17.15117,200.915205,4201.754386,1,2007
4,5,1,3,36.70000,19.30000,193.000000,3450.000000,0,2007

In [100]:
from sklearn.linear_model import LogisticRegression
lreg=LogisticRegression(C=1.0)
lreg.fit(x_train,y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [ ]:
lreg.predict_proba(x_test)

In [102]:
y_pred=lreg.predict(x_test)
y_pred

array([1, 2, 1, 3, 2, 1, 3, 1, 2, 2, 3, 2, 1, 1, 3, 2, 3, 1, 1, 2, 2, 2,
       2, 1, 3, 2, 1, 2, 2, 2, 1, 3, 3, 1, 1, 2, 2, 2, 1, 1, 3, 3, 2, 1,
       1, 2, 3, 2, 1, 3, 2, 3, 2, 2, 1, 1, 1, 2, 1, 3, 2, 2, 1, 3, 1, 3,
       3, 2, 1, 1, 2, 2, 2, 2, 3, 2, 2, 3, 1, 1, 1, 1, 3, 2, 1, 1, 1, 1,
       1, 2, 1, 1, 3, 1, 1, 2, 3, 2, 3, 3, 2, 1, 1, 1])

In [103]:
lreg.score(x_test,y_test)

1.0

In [104]:
from sklearn.metrics import confusion_matrix,classification_report
confusion_matrix(y_test,y_pred)

array([[42,  0,  0],
       [ 0, 38,  0],
       [ 0,  0, 24]])

In [106]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        42
           2       1.00      1.00      1.00        38
           3       1.00      1.00      1.00        24

    accuracy                           1.00       104
   macro avg       1.00      1.00      1.00       104
weighted avg       1.00      1.00      1.00       104